<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

            <h4>Progress Bar</h4>
            <div class="progress-bar bg-info progress-bar-striped active"
                 style="height:5px;"
                 [style.width]="getProgreso1"
                 role="progressbar">
            </div>

            <h4>Progress Bar</h4>
            <div class="progress-bar bg-info progress-bar-striped active"
                 style="height:5px;"
                 [style.width]="getProgreso2"
                 role="progressbar">
            </div>

          </div>
      </div>
  </div>
</div>

<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-incrementador  [progreso]="progreso1"
                            (valorSalida)="progreso1 = $event"></app-incrementador>

      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-incrementador  [progreso]="progreso2"
                            [btnClass]="'btn-info'"
                            (valorSalida)="progreso2 = $event"></app-incrementador>

      </div>
    </div>
  </div>

</div>
