<div class="row">

  <div class="col-6">
    <app-dona [titulo]="'Sales'"
              [data]="data1">
    </app-dona>
  </div>

  <div class="col-6">
    <app-dona [titulo]="'Ventas'"
              [data]="data1">
    </app-dona>
  </div>

</div>
