<div class="input-group">
  <span class="input-group-btn">
    <button (click)="cambiarValor(-5)"
            [ngClass]="btnClass"
            type="button">
      <i class="fa fa-minus"></i>
    </button>
  </span>
  <input  type="number"
          [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}"
          class="form-control text-center"
          max="100"
          placeholder="Progreso"
          (ngModelChange)="onChange($event)"
          [(ngModel)]="progreso">

  <span class="input-group-btn">
    <button [ngClass]="btnClass"
            (click)="cambiarValor(5)"
            type="button">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
