<div class="card">
  <div class="card-body">

    <h3>{{titulo}}</h3>

    <div>
      <div style="display: block">
        <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          type="doughnut">
        </canvas>
      </div>
    </div>

  </div>
</div>
