/* You can add global styles to this file, and also import other style files */

.fast{
  -webkit-animation-duration:0.5s;
  animation-duration:0.5s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

#themecolors .selector, .cursor {
  cursor: pointer;
}
